<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="WebApiProxy.Core.Infrastructure" #>

//To be implemented yet. host: <#= this.Metadata.Host #>